clojurescript/out
clojurescript/resources
clojurescript/target

elixir/deps
elixir/_build

elm/elm-stuff

haskell/*.dyn_hi
haskell/*.dyn_o
haskell/*.hi
haskell/*.o

java/bin
java/target

js/node_modules

php/vendor

purescript/.pulp-cache
purescript/.purs-repl
purescript/bower_components
purescript/output

python3/__pycache__

rust/target

ts/node_modules
